/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

#list_header {
     text-align: center;   
}

li {
    list-style: none;
}

div.box {
    background: #f8b2b2; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#f8b2b2), to(#f06363)); /* Saf4+, Chrome */
    background: -webkit-linear-gradient(top, #f8b2b2, #f06363); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(top, #f8b2b2, #f06363); /* FF3.6 */
    background: -ms-linear-gradient(top, #f8b2b2, #f06363); /* IE10 */
    background: -o-linear-gradient(top, #f8b2b2, #f06363); /* Opera 11.10+ */
    background: linear-gradient(top, #f8b2b2, #f06363); /* W3C */ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f8b2b2", endColorstr="#f06363",GradientType=0 ); /* IE6-9 */ 
    width: 400px;
    margin: auto;
}

table {
    // background-color: blue;
}

.is_true {
    text-decoration: line-through;
    color: gray; 
}

.col-sm-3 a {
    color: inherit;
}

.form {
    width: 400px;;
    margin: auto;
}

#back_link {
    text-align: center;
}